<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/successadmin.css}">
    <title>Main page for admin</title>
</head>
<body>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <h1 style="text-align: center;">You are an admin</h1>
        <br>

        <h2 style="text-align: center;"> List of users</h2>

        <table class="styled-table">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td >
                    <form th:action="@{/users/{id}(id=${user.id})}" method="post">
                        <input type="hidden" name="_method" value="put"/>
                        <input type="hidden" name="userId" th:value="${userId}"/>
                        <button type="submit" class="btn btn-primary mx-2">Update</button>
                    </form>
                    <form th:action="@{/users/{id}(id=${user.id})}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="hidden" name="userId" th:value="${userId}"/>
                        <button type="submit" class="btn btn-primary mx-2">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>

            <div th:if="${users.totalPages > 1}">
                <ul class="pagination">
                    <li th:class="${users.first ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/admin/users?id=' + ${userId}}">First</a>
                    </li>
                    <li th:class="${users.hasPrevious() ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/admin/users?id=' + ${userId} + '&page=' + ${users.number - 1}}">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}" th:class="${users.number == i ? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:href="@{'/admin/users?id=' + ${userId} + '&page=' + ${i}}">[[${i + 1}]]</a>
                    </li>
                    <li th:class="${users.hasNext() ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/admin/users?id=' + ${userId} + '&page=' + ${users.number + 1}}">Next</a>
                    </li>
                    <li th:class="${users.last ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/admin/users?id=' + ${userId} + '&page=' + ${users.totalPages - 1}}">Last</a>
                    </li>
                </ul>
            </div>
        </table>

        <br>
        <h1 style="text-align: center;"> List of recipes</h1>

        <table class="styled-table">
            <thead>
            <tr>
                <th>Recipe ID</th>
                <th>Uploader</th>
                <th>Recipe name</th>
                <th>Recipe category</th>
                <th>Recipe description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe: ${recipes}">
                <td th:text="${recipe.id}"></td>
                <td th:text="${recipe.uploaderUsername}"></td>
                <td th:text="${recipe.name}"></td>
                <td th:text="${recipe.category}"></td>
                <td th:text="${recipe.description}"></td>
                <td >
                    <form th:action="@{/recipes/{id}(id=${recipe.id})}" method="post">
                        <input type="hidden" name="_method" value="put"/>
                        <input type="hidden" name="userId" th:value="${userId}"/>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>

                    <form th:action="@{/recipes/{id}(id=${recipe.id})}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="hidden" name="userId" th:value="${userId}"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>

            <div th:if="${recipes.totalPages > 1}">
                <ul class="pagination">
                    <li th:class="${recipes.first ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/admin/recipes?id=' + ${userId}}">First</a>
                    </li>
                    <li th:class="${recipes.hasPrevious() ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/admin/recipes?id=' + ${userId} + '&page=' + ${recipes.number - 1}}">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, recipes.totalPages - 1)}" th:class="${recipes.number == i ? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:href="@{'/admin/recipes?id=' + ${userId} + '&page=' + ${i}}">[[${i + 1}]]</a>
                    </li>
                    <li th:class="${recipes.hasNext() ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/admin/recipes?id=' + ${userId} + '&page=' + ${recipes.number + 1}}">Next</a>
                    </li>
                    <li th:class="${recipes.last ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/admin/recipes?id=' + ${userId} + '&page=' + ${recipes.totalPages - 1}}">Last</a>
                    </li>
                </ul>
            </div>
        </table>
        <br>

        <h1>Available functions:</h1>

        <!--    add new user-->
        <!--    delete/update recipe-->
        <!--    logout-->

        <table style="justify-content: center;">
            <div style="text-align: center">
                <form th:action="@{/admin/add/user}" method="get">
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <button type="submit" class="btn btn-primary"> Add Employee </button>
                </form>
            </div>
            <br>

            <div style="text-align: center">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" name="btnSubmit" class="btnContact"/>
                </form>
            </div>
        </table>
    </div>
</div>
</body>
</html>